Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore
  Sign out
1
0 0 jotka/angular-services
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
angular-services/.gitignore
72058d3  on Aug 14
 xgt 'init'

41 lines (33 sloc)  488 Bytes
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.